* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;

  margin-bottom: 0%;
}

.section {
  width: 100%;
  padding: 5%;
}

.section h2 {
  background: linear-gradient(
    to right,

    rgb(85, 254, 79),
    rgb(150, 255, 185),
    rgb(85, 254, 79)
  );
  border: 2px solid rgb(7, 69, 28);
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.step {
  position: relative;
  margin-bottom: 35px;
}

.label {
  position: absolute;
  top: -18px;
  left: 0;
  background: linear-gradient(
    to right,
    rgb(30, 217, 92),
    rgb(85, 254, 79),
    rgb(161, 250, 158)
  );
  border: 2px solid rgb(26, 145, 66);
  padding: 12px 30px;
  font-size: 22px;
  font-weight: bold;
  border-radius: 8px 8px 0 0;
}

.box {
  background: #fff;
  border: 4px solid rgb(7, 69, 28);
  border-radius: 0 25px 25px 25px;
  padding: 35px;
}
.box a,
.note a {
  text-decoration: underline;
}
.box a:hover,
.note a:hover {
  text-decoration:overline;
  color:aquamarine;
  
}

.box h3 {
  margin-bottom: 12px;
  font-size: 28px;
}

.box ul {
  margin-left: 25px;
}

.box li {
  font-size: 20px;
  line-height: 1.8;
}

.note {
  background: white;
  border-left: 6px solid rgb(58, 174, 54);
  padding: 20px;
  border-radius: 8px;
}

.note h4 {
  margin-bottom: 10px;
  font-size: 22px;
}

.note ul {
  margin-left: 22px;
}

.note li {
  font-size: 19px;
  line-height: 1.8;
}
