.ltcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ltbutton {
  margin: 2dvw;
  width: 40dvw;
  box-sizing: border-box;
}
.ltbutton a {
  padding: 2dvw;
  text-decoration: none;

  background: linear-gradient(
    to right,

    rgb(107, 255, 102),
    rgb(173, 255, 170),
    rgb(137, 255, 133)
  );
  border-radius: 10px;
  border: 2px solid rgb(0, 96, 32);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 3dvw;
}
