* {
  color: rgb(3, 65, 3);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  margin: 0;
  min-height: 100%;
}
.taskbarcolor {
  background-image: linear-gradient(
    to bottom,
    rgb(7, 69, 28),
    rgb(85, 254, 79),
    rgb(185, 255, 182)
  );
  width: 100%;
}
body {
  background-color: rgb(242, 253, 238);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 1px;
}

p {
  color: rgb(0, 1, 0);
  font-size: 120%;
}
td {
  font-size: 200%;
  font-weight: bold;
  
}
a {
  align-items: center;
  text-decoration: none;
  transition: filter 0.3s;
}

a:hover {
  filter: brightness(70%);
}
*::selection {
  background-color: rgb(168, 255, 169);
}
/** CLASS **/
.wid20 {
  width: 20%;
}
.textcen {
  text-align: center;
}
.wid10 {
  width: 10%;
}
