.container {
  display: flex;
  height: 180vh;
  margin: 0px;
}

.question-panel {
  flex: 5;
  padding: 30px;
  background-color: white;
  height: 100%;
}

.sidebar {
  flex: 1;
  border-left: 2px solid #ddd;
  padding: 20px;
}
.question-list {
  display: grid;
  grid-template-columns: repeat(3, 40px);

  gap: 10px;
}
